@import "react-calendar/dist/Calendar.css";

.react-calendar {
  margin: 30px 30px;
  border: none;
  height: 40vh;
  width: 500px;
  font-size: 1.2rem;
}

.react-calendar__month-view__days {
  height: 40vh;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 20px;
}

.react-calendar__tile--now {
  background: #f8d655;
  color: black;
  border-radius: 20px;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #f8d655;
}
